<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Elaine Fabri - Inglês particular de qualidade</title>
<meta name="description" content="Aulas particulares de inglês
para necessidades específicas em Sorocaba - SP">
<meta name="keywords" content="Aulas particulares, inglês, sorocaba, ">
<meta name="viewport" content="initial-scale=1">

<link rel="stylesheet" type="text/css" href="css/style.css">


<script type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.arctext.js"></script>

</head>

<body>
  <div id="menu">
    <div class="bg_menu">
    <ul class="navigation">
      <li><a class="logotipo" href="#home">Elaine Fabri</a></li>
      <li><a class="contato" href="#contato">Contato</a></li>
    </ul>

  </div>
  </div>



  <div class="slide" id="home">


    <div class="container">

      <div class="row">

        <h3 class="headline center">Aulas particulares de inglês </br> para necessidades específicas</h3>
        <p class="tagline center curve">&#9733; Inglês para jovens e adultos &#9733; Inglês para viagens &#9733; Inglês instrumental </p> <p class="tagline center">&#9733; Português para estrangeiros</p>

      </div>

    </div>


  </div>

  <div class="slide" id="contato">

    <div class="container">

      <div class="row mapas">

        <h3>Let's talk!</h3>
        <br/> <br/> <br/>

        <div class="left">
              <dl>
                <dd><i class="icon icon-map-marker"></i>Rua Salvador Corrêa, 603, 2&#186; andar, </br>sala 26, Vergueiro, Sorocaba - SP</dd>
                <dd><i class=""></i><span> Facebook: </span> <a class="facebook" href="https://www.facebook.com/elaine.fabri">Elaine Fabri</a></dd>
                <dd><i class=""></i><span>Telefone: </span>(015) 99786-3278</dd>
                <dd><i class=""></i><span>E-mail: </span>marteelaine@yahoo.com.br</a></dd>
              </dl>
              <br>
            </div>

        <div class="right">
              <iframe class="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rua+Salvador+Corr%C3%AAa,+603,+Jardim+Vergueiro,+S%C3%A3o+Paulo,+Brazil&amp;aq=0&amp;oq=Rua+Salvador+Corr%C3%AAa,+603&amp;sll=-23.506385,-47.459071&amp;sspn=0.006434,0.011362&amp;ie=UTF8&amp;hq=&amp;hnear=Rua+Salvador+Corr%C3%AAa,+603+-+Jardim+Vergueiro,+S%C3%A3o+Paulo,+18030-130,+Brazil&amp;ll=-23.496385,-47.459051&amp;spn=0.006434,0.011362&amp;t=m&amp;z=14&amp;output=embed"></iframe>
              </iframe>
          </div>
      </div>

    </div>
  </div>


<script type="text/javascript">
    $('.curve').arctext({radius: 800});

    $(function() {
        $('ul.navigation a').bind('click',function(event){
            var $anchor = $(this);

            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500,'easeInOutExpo');
            event.preventDefault();
        });
    });

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47261066-1', 'elainefabri.com.br');
      ga('send', 'pageview');


  </script>
</body>
</html>
